<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <environment>
        <dataSource>
            <property name="driver" value="com.mysql.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://localhost:3306/zk"/>
            <property name="username" value="root"/>
            <property name="password" value="123456"/>
        </dataSource>
    </environment>

    <mappers>
        <mapper resource="mappers/UserMapper.xml" ></mapper>
    </mappers>

</configuration>
