<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.zk.simpledemo.service"/>

    <bean id="autowiredAnnotationBeanPostProcessor" class="org.zk.simplespring.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>

    <bean id="sqlSessionFactory" class="org.zk.simplemybatisspring.SqlSessionFactoryBean">
      <property name="configLocation" value="mybatis.xml"></property>
    </bean>

    <!--<bean id="userDao" class="org.zk.simplemybatisspring.MapperFactoryBean">-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
        <!--<property name="mapperInterface" value="org.zk.simpledemo.dao.UserDao"></property>-->
    <!--</bean>-->

    <bean id="mapperScannerConfigurer" class="org.zk.simplemybatisspring.MapperScannerConfigurer">
        <property name="basePackage" value="org.zk.simpledemo.dao"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>



</beans>



